HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/target/classes/com/example/demo/entity/Course.class
/target/classes/com/example/demo/entity/CourseId.class
/target/classes/com/example/demo/entity/Department.class
/target/classes/com/example/demo/entity/DepartmentId.class
/target/classes/com/example/demo/entity/Dependent.class
/target/classes/com/example/demo/entity/Employee.class
/target/classes/com/example/demo/entity/EmployeeProject.class
/target/classes/com/example/demo/entity/EmployeeProjectEmbeddable.class
/target/classes/com/example/demo/entity/Faculty.class
/target/classes/com/example/demo/entity/Order.class
/target/classes/com/example/demo/entity/OrderId.class
/target/classes/com/example/demo/entity/Person.class
/target/classes/com/example/demo/entity/Product.class
/target/classes/com/example/demo/entity/Project.class
/target/classes/com/example/demo/entity/Review.class
/target/classes/com/example/demo/entity/Student.class
/target/classes/com/example/demo/entity/User.class
/target/classes/com/example/demo/repo/CourseRepo.class
/target/classes/com/example/demo/repo/FacultyRepo.class
/target/classes/com/example/demo/repo/OrderRepo.class
/target/classes/com/example/demo/repo/ProductRepo.class
/target/classes/com/example/demo/repo/ReviewRepo.class
/target/classes/com/example/demo/repo/StudentRepo.class
/target/classes/com/example/demo/repo/UserRepo.class
/target/classes/com/example/demo/Demo1Application.class
/target/classes/application.properties
